<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>E-clinic</title>
</head>
<body>
<h1>Rejestracja wizyt</h1>
<span>Rejestrujesz wizytę jako: </span>
<input type="text" id="login" name="login" th:value="${#authentication.name}" readonly/>

<div class="form-group blu-margin">
    <form th:action="@{/visits/create}" th:object="${VisitDto}" method="POST">
        <label>lekarz</label>
        <input type="hidden" id="id" name="id" th:value="${VisitDto.id}"/>
        <select th:field="*{doctorId}">
            <option value="">Wybierz lekarza</option>
            <option
                    th:each="doctor : ${doctors}"
                    th:value="${doctor.id}"
                    th:text="${doctor.firstName +' '+ doctor.lastName +' '+ doctor.specialization}"
            >
            </option>
        </select>
        <br>
        <label>pacjent</label>
        <select th:field="*{patientId}">
            <option value="">Wybierz pacjenta</option>
            <option
                    th:each="patient : ${patients}"
                    th:value="${patient.id}"
                    th:text="${patient.firstName +' '+ patient.lastName +' '+ patient.age +'l.'}"
            >
            </option>
        </select>
        <br>
        <br>
        <div>
            <label>Data wizyty</label>

            <input type="date" class="form-control" id="visitStartDate" name="visitStartDate"
                   th:value="${#temporals.format(visitStartDate,'yyyy-MM-dd')}"/>

            <input type="time" class="form-control" id="visitTime" name="visitTime"
                   th:value="${#temporals.format(visitTime,'HH:mm')}"/>
            <br>

            <label>Planowana długość wizyty (min): </label>
            <input type="number" class="form-control" id="plannedLength" th:value="${VisitDto.plannedLength}"
                   name="plannedLength"/>
            <br>
            <label>Ustaw status </label>

            <select th:field="*{status}" name="status">
                <option value=""></option>
                <option
                        th:each="status : ${visitStatuses}"
                        th:value="${status}"
                        th:text="${status.description_PL}"
                >
                </option>
            </select>


        </div>
        <br>


        <input type="submit" value="Zatwierdź"/>
    </form>
</div>

<div>
    <a th:href="@{/}">Strona główna</a>
</div>


</body>
</html>