<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>E-clinic</title>
</head>
<body>
<h1>Rejestracja wizyt</h1>
<form  th:action="@{/visits/create}" method="POST" th:object="${VisitDto}">
    <table>

        <tr><td></td><td><input type="hidden" id="id" name="id" th:value="${VisitDto.id}"/></td></tr>
        <tr><td>Imie lekarza:</td><td><input type="text" id="firstName" name="firstName" th:value="${VisitDto.doctorFirstName}"/></td></tr>
        <tr><td>Nazwisko lekarza:</td><td><input type="text" id="lastName" name="lastName" th:value="${VisitDto.doctorLastName}"/></td></tr>
        <tr><td>Specializacja lekarza:</td><td><input type="text" id="specialization" name="specialization" th:value="${VisitDto.specialization}"/></td></tr>

        <tr><td></td><td> <button type="submit">Zatwierdź</button></td></tr>
    </table>

</form>


</body>
</html>