<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>E-clinic</title>
</head>
<body>
<h1>Rejestracja wizyt</h1>

<div class="form-group blu-margin">
    <form th:action="@{/visits/create}" th:object="${VisitDto}" method="POST">
        <label>lekarz</label>
        <input type="hidden" id="id" name="id" th:value="${VisitDto.id}"/>
        <select th:field="*{doctorId}">
            <option value="">Wybierz lekarza</option>
            <option
                    th:each="doctor : ${doctors}"
                    th:value="${doctor.id}"
                    th:text="${doctor.firstName +' '+ doctor.lastName +' '+ doctor.specialization}"
            >
            </option>
        </select>
        <label>pacjent</label>
        <select th:field="*{patientId}">
            <option value="">Wybierz pacjenta</option>
            <option
                    th:each="patient : ${patients}"
                    th:value="${patient.id}"
                    th:text="${patient.firstName +' '+ patient.lastName +' '+ patient.age +'l.'}"
            >
            </option>
        </select>

        <div>
            <label>Data wizyty</label>
            <input type="date" class="form-control" id="visitDate" th:field="*{visitDate}"
                   th:value="${#calendars.format(visitDate,'yyyy-MM-dd')}"/>

        </div>

        <input type="submit" value="Zatwierdź"/>
    </form>
</div>

<div>
    <a th:href="@{/}">Strona główna</a>
</div>


</body>
</html>